<div class="col">
    <div class="container">
        <h1>SWAPI Interface</h1>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>