<div class="card">
    <div class="card-body">
        <form name="searchForm" method="post" action="/search">
            <div class="row">
                <div class="col-12 col-lg-2">
                        <select name="parameter" class="form-control form-select fs-5">
                            <option value="people">People</option>
                            <option value="films">Films</option>
                            <option value="starships">Starships</option>
                            <option value="vehicles">Vehicles</option>
                            <option value="species">Species</option>
                            <option value="planets">Planets</option>
                        </select>
                </div>
                <div class="col-12 mt-3 mt-lg-0 col-lg-8">
                    <input type="search" id="query" name="query" class="form-control fs-5">
                </div>
                <div class="col-12 mt-3 mt-lg-0 col-lg-2">
                    <input type="submit" class="btn btn-primary fs-5 w-100" id="searchBtn" value="Search">
                </div>
            </div>
        </form>
    </div>
</div>