{% extends "base.njk" %}

{% block title %}
    - {{ data.name }}
{% endblock %}

{% block nav %}
    {% include('partials/nav.njk') %}
{% endblock %}

{% block body %}
    {% include('partials/searchbar.njk') %}

    <div class="card mt-4 mb-4">
        <div class="card-body">

            <h1>{{ data.name }}</h1>

            <h2>Biographical Data</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Height:</strong> {{ data.height }} cm</li>
                <li class="list-group-item"><strong>Mass:</strong> {{ data.mass }} kg</li>
                <li class="list-group-item"><strong>Hair Colour:</strong> {{ data.hair_color|capitalize }}</li>
                <li class="list-group-item"><strong>Skin Colour:</strong> {{ data.skin_color|capitalize }}</li>
                <li class="list-group-item"><strong>Birth Year:</strong> {{ data.birth_year|capitalize }}</li>
                <li class="list-group-item"><strong>Gender:</strong> {{ data.gender|capitalize  }}</li>
            </ul>

            <h2>Films</h2>

            <ul class="list-group list-group-flush">
                {% if filmData.length %}
                    {% for film in filmData %}
                        <li class="list-group-item"><a href="{{ film.url|shorten(21) }}" class="text-decoration-none">{{ film.title }}</a></li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">No information available.</li>
                {% endif %}
            </ul>

        </div>
    </div>
{% endblock %}