{% extends "base.njk" %}

{% block title %}
    SWAPI Interface
{% endblock %}

{% block nav %}
    {% include('partials/nav.njk') %}
{% endblock %}

{% block body %}
    This is the body.
{% endblock %}