{% extends "base.njk" %}

{% block title %}
   - Search Results for {{ query|title }}
{% endblock %}

{% block nav %}
    {% include('partials/nav.njk') %}
{% endblock %}

{% block body %}
    {% include('partials/searchbar.njk') %}

    <div class="card mt-4 mb-4">
        <div class="card-body">
            <h1>Search Results for <strong>{{ query|title }}</strong></h1>

            {% for item in data.results %}
                <h2><a href="{{ item.url|shorten(21) }}" class="text-decoration-none">{{ item.name or item.title}}</a></h2>
            {% else %}
                <h2>No Results.</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}
